<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PIGIBIG_PI_UPLOADER.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PIGIBIG_PI_UPLOADER.Properties.Settings.DB" connectionString="Server=127.0.0.1;Database=sidc_pigibig;Username=root;Password=supervisor;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PIGIBIG_PI_UPLOADER.Properties.Settings>
            <setting name="FILE_EXT" serializeAs="String">
                <value>*.xlsx</value>
            </setting>
            <setting name="DROP_SITE" serializeAs="String">
                <value>C:\SAPHana\PI\</value>
            </setting>
            <setting name="SELF_UPLOAD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DB_POS" serializeAs="String">
                <value>Server=127.0.0.1;Database=pos;Username=root;Password=supervisor;</value>
            </setting>
        </PIGIBIG_PI_UPLOADER.Properties.Settings>
    </userSettings>
</configuration>